###############################################################################
#
# Files to ignore
#
###############################################################################

*.pro.user
core.*
vgcore.*
*.bak
*~
*.pyc
.~lock.*
local/*
testing/*

